/* src/components/ConceptSelection.css */

/* Common styles for the concept selection container */
.concept-selection {
  text-align: center;
  padding: 20px;
  margin: 20px;
  max-height: 500px; /* Set a maximum height for scrolling */
  overflow: hidden; /* Hide the scrollbar from the main container */
}

.concept-item {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

}



/* Heading container styles */
.heading-container {
  background-color: #252F3E; /* Choose your desired background color */
  padding: 20px;
  border-radius: 10px; /* Adjust the border-radius for rounded corners */
  text-align: center;
}

/* Heading styles */
.heading-container h1 {
  color: #fff; /* Text color for better visibility on the background */
  margin: 0; /* Remove default margin to avoid extra spacing */
}

/* Styles for the concepts list */
.concepts-list {
  margin-top: 10px; /* Adjusted margin to avoid overlap */
  max-height: 460px; /* Adjusted height to make space for the scrollbar */
  overflow-y: auto; /* Enable vertical scrolling when the content overflows */


}

/* Styles for each concept item */
li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between; /* Add space between elements */
  align-items: center;
}

/* Button styles */
button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

/* Table cell styles */
td {
  width: 400px;
  padding: 10px;
  border: none;
}



/* Styles for buttons within table cells */
td button {
  background-color: #4caf50;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

td button:hover {
  background-color: #45a049;
}

/* Concept list heading styles */
.concepts-list h2 {
  font-size: 1.2em;
  color: #555;
}

/* List styles */
ul {
  list-style-type: none;
  padding: 0;
}

/* Hide scrollbar */
.concepts-list::-webkit-scrollbar {
  width: 12px; /* Adjusted width for the scrollbar */
}

/* Track styles */
.concepts-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle styles */
.concepts-list::-webkit-scrollbar-thumb {
  background: #888;

}

/* Handle on hover styles */
.concepts-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.take-quiz-button {
  background-color: #FF9900;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.take-quiz-button:hover {
  background-color: #252F3E;
  transform: scale(1.05);
}
