/* General styles for larger screens */

.result-container {
  margin: 20px;
  overflow-y: auto;
  max-height: 600px;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.correct {
  color: green;
  font-weight: bold;
}

.incorrect {
  color: red;
  font-weight: bold;
}

p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  /* Adjust container margin and remove max-height for smaller screens */
  .result-container {
    margin: 10px;
    max-height: none;
  }

  /* Remove box shadow for smaller screens */
  table {
    box-shadow: none;
  }

  /* Adjust padding for table cells on smaller screens */
  th,
  td {
    padding: 8px;
  }

  /* Decrease font size for better readability on smaller screens */
  p {
    font-size: 16px;
  }
}

/* Medium screens */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Adjust container margin and remove max-height for medium screens */
  .result-container {
    margin: 15px;
    max-height: none;
  }

  /* Remove box shadow for medium screens */
  table {
    box-shadow: none;
  }

  /* Adjust padding for table cells on medium screens */
  th,
  td {
    padding: 10px;
  }

  /* Decrease font size for better readability on medium screens */
  p {
    font-size: 16px;
  }
}

/* Smaller screens */
@media screen and (max-width: 480px) {
  /* Adjust container margin and remove max-height for smaller screens */
  .result-container {
    margin: 10px;
    max-height: none;
  }

  /* Remove box shadow for smaller screens */
  table {
    box-shadow: none;
  }

  /* Adjust padding for table cells on smaller screens */
  th,
  td {
    padding: 8px;
    word-wrap: break-word; /* Allow text to wrap */
  }

  /* Decrease font size for better readability on smaller screens */
  p {
    font-size: 14px;
  }
}