@media (max-width: 768px) {
  .Titlebar {
    padding: 15px;
    font-size: 1.2em;
    
  }

  .Titlebar .logo {
    text-align: center;
  }

  .Titlebar .menu {
    text-align: center;
    margin-top: 10px;
  }

  .Titlebar a {
    display: block;
    margin: 8px 0;
  }


}
.Quiz {
  width: 100%; /* Adjust as needed */
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
}
.Titlebar {
  padding: 20px;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .Titlebar {
    padding: 15px;
    font-size: 1.2em;
  }
}
.QuizResult {
  width: 80%; /* Adjust as needed */
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
}



body {
  font-family: 'Work Sans';  font-family: 'Work Sans';
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Titlebar {
  height: 20%;
}

.content-container {
  background-color: #f4f4f4;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}


/* Content container styles */
.content-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  width: 100%; /* Adjust the width as needed */
  max-width: 1200px; /* Add a max-width to prevent container from becoming too wide */

}

/* Responsive Styles */
@media (max-width: 768px) {
  .content-container {
    width: 90%; /* Adjust the width for smaller screens */
  }
}

/* Example CSS for table cells */
td {
  font-size: 14px; /* Adjust as needed */
}

@media (max-width: 768px) {
  td {
    font-size: 12px; /* Adjust for smaller screens */
  }
}

/* Example CSS for table cells */
td {
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
}

@media (max-width: 768px) {
  td {
    white-space: normal; /* Allow text to wrap */
    text-overflow: clip; /* Default behavior for smaller screens */
  }
}

/* Example CSS for table cells */
td {
  height: 50px; /* Adjust as needed */
}

/* Example CSS for images in table cells */
td img {
  max-width: 100%;
  height: auto;
}

/* Change color of 'CLOUD TRIVIA' */
.Titlebar {
  background-color: #fff; /* Change to your desired color */
  color: #252F3E; /* Change to your desired text color */
}

/* src/components/CloudSelection.css */

.cloud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.cloud-selection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cloud-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* AWS */
.aws {
  background-color: #252F3E;
  color: white;
  font-size: 18px; /* Adjust font size */
  border-radius: 8px 8px 0 0;
  padding: 15px; /* Adjust padding */
  cursor: pointer;
  transition: transform 0.2s;
}

.aws img {
  max-width: 80%; /* Adjust image size */
  max-height: 80px; /* Adjust image size */
}

.aws-label {
  background-color: #ff9900;
  color: white;
  font-size: 1.5rem; /* Adjust font size */
  border-radius: 0 0 8px 8px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.aws:hover {
  transform: scale(1.04);
}

/* Repeat similar adjustments for other cloud options */

/* GCP */
.gcp {
  background-color: #252F3E;
  color: white;
  font-size: 18px;
  border-radius: 8px 8px 0 0;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.gcp:hover {
  transform: scale(1.04);
}

.gcp img {
  max-width: 80%;
  max-height: 80px;
}

.gcp-label {
  background-color: #4285F4;
  color: white;
  font-size: 1.5rem;
  border-radius: 0 0 8px 8px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Repeat similar adjustments for other cloud options */

/* Media queries for responsiveness */

@media screen and (max-width: 768px) {
  .cloud-container {
    height: auto;
  }

  .cloud-selection {
    flex-direction: column;
    height: auto;
  }

  .cloud-option {
    width: 60%;
  }
}
