@media (max-width: 768px) {
  .Navbar {
    padding: 15px;
    font-size: 1.2em;
    
  }

  .Navbar .logo {
    text-align: center;
  }

  .Navbar .menu {
    text-align: center;
    margin-top: 10px;
  }

  .Navbar a {
    display: block;
    margin: 8px 0;
  }

  .content-container {
    margin-top: 20px;
  }
}
.Quiz {
  width: 100%; /* Adjust as needed */
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
}
.Navbar {
  padding: 20px;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .Navbar {
    padding: 15px;
    font-size: 1.2em;
  }
}
.QuizResult {
  width: 80%; /* Adjust as needed */
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Work Sans';  font-family: 'Work Sans';
  margin: 0;
}

/* Content container styles */
.content-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  width: 80%; /* Adjust the width as needed */
  max-width: 1200px; /* Add a max-width to prevent container from becoming too wide */
  margin-top: 40px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .content-container {
    width: 90%; /* Adjust the width for smaller screens */
  }
}

/* Example CSS for table cells */
td {
  font-size: 14px; /* Adjust as needed */
}

@media (max-width: 768px) {
  td {
    font-size: 12px; /* Adjust for smaller screens */
  }
}

/* Example CSS for table cells */
td {
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
}

@media (max-width: 768px) {
  td {
    white-space: normal; /* Allow text to wrap */
    text-overflow: clip; /* Default behavior for smaller screens */
  }
}

/* Example CSS for table cells */
td {
  height: 50px; /* Adjust as needed */
}

/* Example CSS for images in table cells */
td img {
  max-width: 100%;
  height: auto;
}